body{
    background-color:black;
    color: lime;
       
}
button{
    color: lime;
    background-color: rgb(5, 5, 5);
    width: 100px;
    height: 50px;
    border-radius: 10px;
    transition: all;
    transition: ease-in-out;
}
button:hover{
    background-color: lime;
    color: black;
    transition: ease-in-out,1.2s;
}